astroid==2.4.1
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
docutils==0.16
idna==2.9
isort==4.3.21
Kivy==1.11.1
kivy-deps.glew==0.2.0
kivy-deps.sdl2==0.2.0
Kivy-Garden==0.1.4
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
numpy==1.18.4
pandas==1.0.3
Pygments==2.7.4
pylint==2.5.2
pypiwin32==223
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
requests==2.23.0
six==1.14.0
soupsieve==2.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.9
wrapt==1.12.1
